<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="{{ .Site.Params.Author.name | safeJS }}" />
<title>
    {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
    site.Title }}{{ end }}
</title>
{{ partialCached "head/schema.html" . }}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet"
/>
<script
    async
    src="https://kit.fontawesome.com/0f04a2a1f5.js"
    crossorigin="anonymous"
></script>
{{ partialCached "head/css.html" . }} {{ partialCached "head/js.html" . }}
