{{ define "main" }}

<section id="about">
    {{ with .Site.Params.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $authorImage := $authorImage.Fill "288x288" }}
        <img
            width="144"
            height="144"
            alt="{{ $.Site.Params.Author.name | default "Author" }}"
            src="{{ $authorImage.RelPermalink }}"
            loading="lazy"
        />
      {{ end }}
    {{ end }}
    <div>
        {{ .Content }}
        <div id="links">
            {{ range $links := .Site.Params.Author.links }}
                {{ range $name, $url := $links }}
                <a href="{{ $url }}">{{- partial (printf "icons/%s.svg" $name) -}}</a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>

<h2>Posts</h2>
Nothing here yet...

<h2>Work Experience</h2>
{{ range where site.RegularPages "Section" "work-experience" }}
    {{ partial "work-experience.html" . }}
{{ end }}
{{ end }}
