html {
    font-size: 13pt;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

nav {
    font-size: 16pt;
}

.mt-6 {
    margin-top: 1.5rem
}

@media (min-width: 576px) {
    .sm\:items-start {
        align-items: flex-start;
    }

    .sm\:mt-0 {
        margin-top: 0;
    }
}