<article class="mt-6 flex max-w-prose flex-row">
    {{- $images := $.Resources.ByType "image" }}
    {{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
    {{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $thumbnail }}
    {{- with $feature }}
      <div class="flex-none pe-4 sm:pe-6 ">
        <a
          href="{{ with $.Params.externalUrl }}
            {{ . }}
          {{ else }}
            {{ $.RelPermalink }}
          {{ end }}"
          aria-label="{{ $.Title | emojify }}"
        >
          <img
            alt="{{ $.Params.featureAlt | default $.Params.thumbnailAlt | default "" }}"
            {{ if eq .MediaType.SubType "svg" }}
              class="w-24 max-w-[6rem] max-h-[4.5rem] rounded-md sm:max-h-[7.5rem] sm:w-40
              sm:max-w-[10rem]" src="{{ .RelPermalink }}"
            {{ else }}
              class="rounded-md" srcset="
              {{- (.Fill "200x200 smart").RelPermalink }}
              80w, {{- (.Fill "200x200 smart").RelPermalink }} 2x"
              src="{{ (.Fill "200x200 smart").RelPermalink }}" width="80" height="80"
            {{ end }}
            {{ if $.Site.Params.enableImageLazyLoading | default true }}
              loading="lazy"
            {{ end }}
          />
        </a>
      </div>
    {{- end }}
    <div>
      <h3 class="flex items-center text-xl font-semibold">
        {{ with .Params.externalUrl }}
          <div>
            <a
              class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
              href="{{ . }}"
              target="_blank"
              rel="external"
              >{{ $.Title | emojify }}</a
            >
          </div>
        {{ else }}
          <a
            class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
            href="{{ .RelPermalink }}"
            >{{ .Title | emojify }}</a
          >
        {{ end }}
        {{ if and .Draft .Site.Params.article.showDraftLabel }}
          <div class="ms-2">
            {{ partial "badge.html" (i18n "article.draft" | emojify) }}
          </div>
        {{ end }}
        {{ if templates.Exists "partials/extend-article-link.html" }}
          {{ partial "extend-article-link.html" . }}
        {{ end }}
      </h3>
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        {{ partial "work-meta.html" . }}
      </div>
      <div class="prose py-1 dark:prose-invert">
        {{ .Content | markdownify | emojify }}
      </div>
    </div>
  </article>