<section class="flex">
    <article class="flex max-w-prose flex-row">
        <div class="flex-none pe-4 sm:pe-6">
          {{ with .Site.Author.image }}
            {{ $authorImage := resources.Get . }}
            {{ if $authorImage }}
              {{ $authorImage := $authorImage.Fill "288x288" }}
              <img
                class="h-36 rounded-full w-36"
                width="144"
                height="144"
                alt="{{ $.Site.Author.name | default "Author" }}"
                src="{{ $authorImage.RelPermalink }}"
                {{ if $.Site.Params.enableImageLazyLoading | default true }}
                  loading="lazy"
                {{ end }}
              />
            {{ end }}
          {{ end }}
          <div class="mt-1 text-2xl">
            {{ partialCached "author-links.html" . }}
          </div>
        </div>
        <div>
          <h2 class="text-2xl font-bold">Tomás Fernandes</h2>
          <div class="prose">
            {{ .Content | emojify }}
          </div>
        </div>
    </article>
</section>
<section>
    {{ partial "recent-articles.html" . }}
</section>