@font-face {
    font-family: "Inter";
    src: url("/font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

body {
    color: #333;
    margin: auto;

    line-height: 1.75;
    font-size: 11pt;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

pre, code {
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;  
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

blockquote {
    font-style: italic;
    color: #64748b;
}

header {
    margin-bottom: 1rem;
}

header h1 {
    text-decoration: underline #00e 2.5px wavy;
    text-underline-offset: 3.5px;
}

header h1 a {
    text-decoration: none;
}

header h1 a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    margin-block-end: 0.25em;
}

footer {
    margin-top: 1rem;
    color: #64748b;
}

a {
    color: #333;
    text-decoration: underline #00e 2.5px dotted;
    transition: 0.3s;
}

a:hover {
    color: #00e;
    text-decoration: underline #00e 2px wavy;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
}

#about h2:first-child {
    margin-top: 0;
    margin-bottom: 1.1rem;
    line-height: 1;
}

#about p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#about #links {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 25px;
}

#about #links a svg {
    width: 20px;
    height: 20px;

    fill: #333;
    transition: 0.3s;
}

#about #links a svg:hover {
    fill: #00e;
}

article.work-experience {
    display: flex;
    align-items: start;
    flex-direction: row;
    gap: 20px;
}

article.work-experience h3 a {
    color: #333;
    text-decoration: none;
}

article.work-experience h3 a:hover {
    color: #333;
    text-decoration: underline #00e 2px wavy;
}

article.work-experience h3:first-child {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1;
}

article.work-experience .meta {
    color: #64748b;
}

article.work-experience .meta p {
    margin-top: 0;
    margin-bottom: 0.25rem;
    line-height: 1;
}

article.post {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

article.post h3 {
    margin-top: 0;
    margin-bottom: 0;
}

main figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

main figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

figure figcaption {
    color: #64748b;
}

@media screen and (min-width: 52rem) {
    body {
        max-width: 48rem;
        width: 100%;
    }
}

@media screen and (max-width: 52rem) {
    #about {
        flex-direction: column;
        align-items: center;
    }
}
